:root {
    --font-sans-serif: system-ui, -apple-system, Verdana, "Futura-LT", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --colour-primary-dark: #140E07;
    --colour-primary-light: #ffbe6f;
    --colour-primary-medium: #4e4a45;
    --colour-link: #ffff66;
    --colour-link-clicked: #cc9900;
}

body {
    max-width: 100vw;
    background-color: var(--colour-primary-dark);
    font-family: var(--font-sans-serif);
    color: var(--colour-primary-light);
    text-align: center;
}

a:link, a:hover, a:active {
    color: var(--colour-link);
}

a:visited {
    color: var(--colour-link-clicked);
}

h1 {
    text-align: center;
    height: 10vh;
}

.highlight {
    background-color: var(--colour-primary-medium);
}

.navbar {
    background-color: var(--bs-primary-medium);
    padding: 0%;
    padding-left: 20vw;
    padding-right: 20vw;
    margin: 0%;
    display: inline-block;
    align-content: center;
}

.btn-primary {
    background-color: var(--colour-primary-medium);
    color: var(--colour-primary-light);
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.btn-primary:hover {
    background-color: var(--colour-primary-dark);
    color: var(--colour-primary-light);
}

.navbtn {
    width: 20vw;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

.main-page {
    height: 80vh;
    background-color: var(--colour-primary-dark);
    color: var(--colour-primary-light);
    margin: 0%;
    padding: 0%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.main-page:hover {
    background-color: var(--colour-primary-medium);
}

.main-page-1:hover .main-text-1 {
    height: 10vh;
}

.main-page-1:hover .img-cropped-1 {
    height: 80vh;
}

.main-page-2:hover .main-text-2 {
    height: 10vh;
}

.main-page-2:hover .img-cropped-2 {
    height: 80vh;
}

.main-page-3:hover .main-text-3 {
    height: 10vh;
}

.main-page-3:hover .img-cropped-3 {
    height: 80vh;
}

.main-text {
    height: 20vh;
    width: 20vw;
    transition-duration: 0.5s;
    text-align: center;
    font-size: large;
    padding: 0%;
    margin: 0%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.img-cropped {
    overflow: hidden;
    height: 70vh;
    width: 20vw;
    object-fit: cover;
    transition-duration: 0.5s;
    padding: 0%;
    margin: 0%;
}

.col-xs-4 {
    padding: 0%;
    margin: 0%;
}

.img-cropped-1 {
    object-position: 10% 30%;
}

.img-cropped-2 {
    object-position: 60% 30%;
}

.img-cropped-3 {
    object-position: 70% 60%;
}

.img-cropped:hover {
    overflow: hidden;
}

.img-cropped-1:hover .main-text-1 {
    height: 50vh;
}

.img-cropped-2:hover .main-text-2 {
    height: 50vh;
}

.img-cropped-3:hover .main-text-3 {
    height: 50vh;
}

.row {
    padding: 0%;
    margin: 0%;
}

.vertical-center {
    vertical-align: middle;
}